@font-face {
    font-family: 'Anta';
    src: url('Anta-Regular.woff2') format('woff2'),
        url('Anta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

